version: "3.8"
name: shacl-form-editor

services:
  web:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    container_name: web
    ports:
      - "8080:80"
    restart: unless-stopped
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
