@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-branding: #00518e;
  --color-branding-lighter: #0066b3;
  --color-branding-darker: #004980;

  --color-light: #ffffff;
  --color-complementary: #efc700;

  --color-text: #4a4a4a;
  --color-text-lighter: #9b9b9b;
  --color-text-light: #ababab;
  --color-text-dark: #000000;

  --color-background: #ffffff;
  --color-background-highlighted: #f1f1f1;
  --color-background-blue: #bfd4e3;
  --color-separator: #dcdcdc;

  --color-danger: #990000;
  --color-danger-lighter: #bd0000;
  --color-danger-light: #ff8282;

  --color-warning: #856404;
  --color-warning-lighter: #a97f05;
  --color-warning-light: #fbdc80;

  --color-success: #009900;
  --color-success-lighter: #00bd00;
  --color-success-light: #82ff82;

  --font-sans: 'Open Sans', sans-serif;
}

@layer base {
  *:not(.monaco-code-editor *) {
    @apply border-separator focus-visible:ring-branding/50 focus-visible:ring-[3px] outline-none;
  }
  *:not(.monaco-code-editor *):focus-visible {
    @apply rounded-sm;
  }
  body {
    @apply bg-background-highlighted text-text;
  }
}

input[type='date'].hide-date-picker::-webkit-calendar-picker-indicator,
input[type='datetime-local'].hide-date-picker::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* https://gist.github.com/geekelo/1968b7f56d6275867c54a53fb1c53306 */
/* @TODO: Is not working in Firefox */
input[type='date'].hide-date-picker,
input[type='datetime-local'].hide-date-picker {
  -moz-appearance: textfield;
  position: relative;
  z-index: 2;
  background: transparent;
}
